<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mario Mendoza Averages</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <h2 style="text-align:center;"> Mendoza Line VS MLB Averages</h2>

  <p style="text-align:center;">The following graphs compare historic MLB batting averages with the Mendoza Line. With
    these comparisons we aim to identify hidden MLB trends</p>

  <hr>

  <div id="mendoza_avgs">

    <script>

      function buildFirstPlot() {

        var response_data = JSON.parse('{{ response | tojson}}');

        function range(start, end) {
          var ans = [];
          for (let i = start; i <= end; i++) {
            ans.push(i);
          }
          return ans;
        };

        var trace1 = {
          x: range(1974, 1982),
          y: response_data.average_by_year_74_to_82,
          type: "scatter",
          name: 'MLB Average'
        };

        var trace2 = {
          x: range(1974, 1982),
          y: response_data.mendonza_average,
          type: "scatter",
          name: 'Mendoza Average'
        };
        var data = [trace1, trace2]
        Plotly.newPlot('mendoza_avgs', data, {}, { showSendToCloud: true });

      };
      buildFirstPlot()

    </script>
  </div>


  <div class="observations">
    <ul>
      <li> 1981 was one of Mendoza's best years but MLB's worst</li>
      <li>Mendoza's last year was his worst</li>
    </ul>
  </div>

  <hr>


  <div id="mendoza_vs_mlv"></div>
  <script>
    function BuildSecondPlot() {

      function range(start, end) {
        var ans = [];
        for (let i = start; i <= end; i++) {
          ans.push(i);
        }
        return ans;
      };
      var response_data = JSON.parse('{{ response | tojson}}');

      var trace1 = {
        x: ['1871 to 1886', '1886 to 1901 ', '1901 to 1919', '1919 to 1937',
          '1937 to 1955', '1955 to 1973', '1973 to 1991', '1991 to 2009', '2009 to 2018'],
        y: response_data.averages_every_18_years,
        type: "scatter",
        name: 'MLB AVG from 1871 to 2018'
      };

      var trace2 = {
        x: ['1871 to 1886', '1886 to 1901 ', '1901 to 1919', '1919 to 1937',
          '1937 to 1955', '1955 to 1973', '1973 to 1991', '1991 to 2009', '2009 to 2018'],
        y: response_data.mendonza_average,
        type: "scatter",
        name: 'Mendoza Average'
      };

      var layout = {

        ticktext: ['1871 to 1886', '1887 to 1901 ', '1902 to 1919', '1920 to 1937',
          '1938 to 1955', '1956 to 1973', '1974 to 1991', '1992 to 2009', '2010 to 2018']

      }

      var data = [trace1, trace2]
      Plotly.newPlot('mendoza_vs_mlv', data, layout, {}, { showSendToCloud: true });


    }
    BuildSecondPlot()
  </script>
  </div>


  <div class="observations">
    <ul>
      <li> Years 1955 to 1973 had the worst batting average and it almost touched the Mendoza Line </li>

    </ul>
  </div>
  <hr>


  <div id="box_chart">
    <script>

      var response_data = JSON.parse('{{ response | tojson}}');
      function BuildThirdPlot() {

        var _1871_to_1886 = {
          y: response_data.samples_every_18_years[0],
          type: 'box',
          name: '1871 to 1886',
        };

        var _1887_to_1901 = {
          y: response_data.samples_every_18_years[1],
          type: 'box',
          name: '1887 to 1901',
        };

        var _1902_to_1919 = {
          y: response_data.samples_every_18_years[2],
          type: 'box',
          name: '1902 to 1919',
        };

        var _1920_to_1937 = {
          y: response_data.samples_every_18_years[3],
          type: 'box',
          name: '1920 to 1937',
        };

        var _1938_to_1955 = {
          y: response_data.samples_every_18_years[4],
          type: 'box',
          name: '1938 to 1955',
        };

        var _1956_to_1973 = {
          y: response_data.samples_every_18_years[5],
          type: 'box',
          name: '1973 to 1956',
        };
        var _1974_to_1991 = {
          y: response_data.samples_every_18_years[6],
          type: 'box',
          name: '1974 to 1991',
        };
        var _1992_to_2009 = {
          y: response_data.samples_every_18_years[7],
          type: 'box',
          name: '1992 to 2009',
        };

        var _2010_to_2018 = {
          y: response_data.samples_every_18_years[8],
          type: 'box',
          name: '2010 to 2018',
        };


        var data = [_1871_to_1886, _1887_to_1901, _1902_to_1919, _1920_to_1937, _1938_to_1955, _1956_to_1973, _1974_to_1991, _1992_to_2009, _2010_to_2018]



        Plotly.newPlot("box_chart", data, {}, { showSendToCloud: true });

      };

      BuildThirdPlot()

    </script>
  </div>

  <div class="observations">
    <ul>
      <li> Years 1886 to 1901 have the best batting average and it has not been surpassed </li>
      <li> The first decades, batting averages were more dispersed</li>

    </ul>
  </div>

  <hr>








  <style>
    .observations {
      position: relative;
      margin-left: 100px;
    }
  </style>








</body>

</html